:root {
  --color-primary-dark:#061212;
  --color-primary-light:#0E2E2E;
  --color-secondary:#44E5E7;
  --color-secondary-light: #C7F7F8;
  --color-white:#fff;
  --color-white-primary: #ECFCFD;
  --color-black:black;
  --pad-left:4rem;
  --round-border:1000px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  overflow-x: hidden !important;
  box-sizing: border-box !important;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 68.43em) {
  html {
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
  }
}

body {
  max-width: 100%;
  font-family: "open sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-white);
  min-height: 100vh;
  color: #ECFCFD;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
@media only screen and (max-width: 79.81em) {
  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 68.43em) {
  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
}

.btn {
  border-radius: var(--round-border);
  margin: 0.4rem;
  cursor: pointer !important;
}
.btn--login {
  font-family: "Poppins";
  font-size: 17px;
  color: var(--color-white-primary);
  width: 120px;
  height: 60;
  padding-top: 14px;
  padding-right: 32px;
  padding-bottom: 14px;
  padding-left: 32px;
  background-color: transparent;
  border: 1px solid var(--color-white);
  box-shadow: 0px 0px 10px 0px rgba(68, 229, 231, 0.3019607843);
  cursor: pointer;
}
.btn--primary {
  font-family: "Poppins";
  width: 166px;
  font-size: 20px;
  height: 60;
  gap: 10px;
  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;
  border-radius: var(--round-border);
  background-color: var(--color-secondary);
  box-shadow: 0px 0px 25px 0px rgba(68, 229, 231, 0.3019607843);
  border: none;
  cursor: pointer;
}
.login, .login:link, .login:visited {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  color: var(--color-white-primary);
  border: 2px solid var(--color-white);
  box-shadow: 0px 0px 10px 0px rgba(68, 229, 231, 0.3019607843);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border-radius: var(--round-border);
  padding: 1.5rem 2rem;
  background-color: transparent;
  display: inline-block;
  text-align: center;
  z-index: 1;
  position: relative;
}
.hero {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 68.43em) {
  .hero {
    flex-direction: column;
  }
}
.hero__text {
  margin-top: 10rem;
  padding: 9.5rem;
  line-height: 0 0.2rem;
}
@media only screen and (max-width: 68.43em) {
  .hero__text {
    margin-top: 0;
    margin-left: 20rem;
    display: flex !important;
    flex-direction: column !important;
  }
}
.hero__text h4 {
  width: 50rem;
  height: 8rem;
  font-family: " Poppins", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 3.2rem;
  letter-spacing: 0%;
  color: var(--color-secondary-light);
  margin-bottom: 0;
}
.hero__note {
  flex: 0 0 40%;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 60px;
  letter-spacing: -5%;
  width: 450px;
  height: 218px;
}
.hero__img {
  flex: 0 0 85%;
  position: absolute;
  top: 80%;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 79.81em) {
  .hero__img {
    width: 70%;
    left: 68%;
    top: 65%;
  }
}
@media only screen and (max-width: 68.43em) {
  .hero__img {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    width: 10%;
    height: auto;
    margin-top: 10rem;
    left: 0;
    transform: none;
    top: 0;
  }
}
.hero--btn {
  margin-top: 2rem;
  font-size: 15px;
}
.hero__recommend {
  display: flex;
  align-items: center;
  margin-left: 9.5rem;
}
@media only screen and (max-width: 68.43em) {
  .hero__recommend {
    margin-left: 0;
    flex-direction: column;
    align-items: center;
    overflow: hidden !important;
  }
}
.hero__recommend-friends img {
  width: 20rem;
  flex: 0 0 20%;
  border: 1px solid var(--color-white);
  box-sizing: content-box;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.hero__recommend-friends img:not(:last-child) {
  margin-right: -2rem;
}
.hero__recommend-text {
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: -5%;
  margin-left: 0.4rem;
}
.hero__recommend-text span {
  color: var(--color-secondary);
}

.smart__header {
  text-transform: capitalize;
  font-family: " Poppins", sans-serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -5%;
  text-align: center;
}
.smart__header span {
  color: var(--color-secondary);
}
.smart__organization {
  display: flex;
  align-items: center;
}
.smart__organization-logo img {
  width: 60rem;
  height: auto;
  margin-top: 10rem;
  flex: 0 0 70%;
}
.smart__organization-text {
  align-self: center;
  padding-left: 12rem;
  margin-top: 3rem;
}
.smart__organization-text h1 {
  width: 45rem;
  font-family: " Poppins", sans-serif;
  font-weight: 600;
  font-size: 4.5rem;
  letter-spacing: -5%;
}
.smart__organization-text p {
  width: 37.5rem;
  font-family: " Poppins", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.99rem;
  letter-spacing: 0%;
  margin-top: 1rem;
  margin-left: 0.9rem;
  color: var(--color-secondary-light);
}
.smart__reminder {
  display: flex;
  margin-top: 10rem;
  align-items: center;
}
.smart__reminder-text {
  padding-right: 3.8rem;
}
.smart__reminder-text h1 {
  width: 45rem;
  font-family: " Poppins", sans-serif;
  font-weight: 600;
  font-size: 4rem;
  letter-spacing: -5%;
  text-transform: capitalize;
}
.smart__reminder-text p {
  width: 45rem;
  font-family: " Poppins", sans-serif;
  font-weight: 300;
  font-size: 2.1rem;
  line-height: 3.7rem;
  letter-spacing: 0%;
  margin-top: 1.9rem;
  color: var(--color-secondary-light);
}
.smart__reminder-logo img {
  width: 55rem;
  height: auto;
  margin-left: 11rem;
}
@media only screen and (max-width: 79.81em) {
  .smart__reminder-logo img {
    width: 47rem;
    margin-left: 6rem;
    overflow: hidden !important;
  }
}
@media only screen and (max-width: 72.5em) {
  .smart__reminder-logo img {
    width: 40rem;
    height: 50rem;
    overflow: hidden !important;
  }
}

.FQA__heading .FQA__primary .FQA__primary-text {
  align-self: center;
}
.FQA__heading .FQA__primary .FQA__primary-text h1 {
  width: 90rem;
  font-family: " Poppins", sans-serif;
  font-weight: 600;
  font-size: 60px;
  letter-spacing: -5%;
  text-align: center;
  text-transform: capitalize;
}
.FQA__heading .FQA__primary .FQA__primary-text p {
  width: 63rem;
  font-family: " Poppins", sans-serif;
  font-size: 1.8rem;
  line-height: 3.3rem;
  letter-spacing: 0%;
  text-align: center;
  color: var(--color-secondary-light);
  margin-left: 15rem;
}
.FQA__heading .FQA__primary .FQA__primary-text span {
  border-bottom: 0.2px solid var(--color-secondary-light);
}
.FQA__heading .FQA__primary .FQA__primary-buttons {
  margin-left: 17rem;
  margin-top: 3rem;
}
.FQA__heading .FQA__primary .FQA__primary-buttons button.btn {
  width: 14rem;
  height: 32;
  height: 7rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  text-transform: capitalize;
  letter-spacing: 0%;
}
.FQA__heading .FQA__primary .FQA__primary-buttons button.btn:not(:first-child) {
  box-shadow: none;
  background-color: transparent;
}
.FQA__heading .FQA__secondary {
  padding: 10rem;
}
.FQA__heading .FQA__secondary .FQA__secondary--question-1 .FQA__secondary--question-sub {
  align-items: center;
  display: flex;
}
.FQA__heading .FQA__secondary .FQA__secondary--question-1 .FQA__secondary--question-sub h4 {
  width: 20rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -2.5%;
  padding-left: var(--pad-left);
  flex: 0 0 59%;
}
@media only screen and (max-width: 79.81em) {
  .FQA__heading .FQA__secondary .FQA__secondary--question-1 .FQA__secondary--question-sub h4 {
    flex: 0 0 62%;
    overflow: hidden !important;
  }
}
@media only screen and (max-width: 72.5em) {
  .FQA__heading .FQA__secondary .FQA__secondary--question-1 .FQA__secondary--question-sub h4 {
    flex: 0 0 70%;
    overflow: hidden !important;
  }
}
.FQA__heading .FQA__secondary .FQA__secondary--question-1 p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0%;
  width: 55rem;
  margin: 2rem;
  padding-left: 7rem;
  color: var(--color-secondary-light);
}
.FQA__heading .FQA__secondary .FQA__secondary--question-2 {
  display: flex;
  align-items: center;
  margin-top: 3.5rem;
}
.FQA__heading .FQA__secondary .FQA__secondary--question-2 h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500px;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: -2.5%;
  height: 40px;
  padding-left: var(--pad-left);
}
.FQA__heading .FQA__secondary .FQA__secondary--question-2 .arrow-down img {
  margin-left: 7rem;
}
.FQA__heading .FQA__secondary .FQA__secondary--question-3 {
  display: flex;
  align-items: center;
  margin-top: 3.5rem;
}
.FQA__heading .FQA__secondary .FQA__secondary--question-3 h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500px;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: -2.5%;
  height: 40px;
  padding-left: var(--pad-left);
}
.FQA__heading .FQA__secondary .FQA__secondary--question-3 .arrow-down img {
  margin-left: 12.4rem;
}
.FQA__heading .FQA__secondary .FQA__secondary--question-4 {
  display: flex;
  align-items: center;
  margin-top: 3.5rem;
}
.FQA__heading .FQA__secondary .FQA__secondary--question-4 h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500px;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: -2.5%;
  height: 40px;
  padding-left: var(--pad-left);
}
.FQA__heading .FQA__secondary .FQA__secondary--question-4 .arrow-down img {
  margin-left: 14.7rem;
}
.FQA__heading .FQA__secondary .FQA__secondary--question-5 {
  display: flex;
  align-items: center;
  margin-top: 3.5rem;
}
.FQA__heading .FQA__secondary .FQA__secondary--question-5 h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500px;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: -2.5%;
  height: 40px;
  padding-left: var(--pad-left);
}
.FQA__heading .FQA__secondary .FQA__secondary--question-5 .arrow-down img {
  margin-left: 22.5rem;
}

.testimonials__subhead .testimonials__primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.testimonials__subhead .testimonials__primary .testimonials__primary-button button {
  width: 14rem;
  height: 5rem;
  gap: 1rem;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.testimonials__subhead .testimonials__title {
  width: 826px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 60px;
  letter-spacing: -5%;
  text-align: center;
  margin-top: 2rem;
}
.testimonials__subhead .testimonials__description {
  width: 514px;
  height: 80px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}
.testimonials__subhead .testimonials__author {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 16rem;
  align-items: center;
  margin-left: 2rem;
}
@media only screen and (max-width: 79.81em) {
  .testimonials__subhead .testimonials__author {
    padding: 13rem;
  }
}
@media only screen and (max-width: 72.5em) {
  .testimonials__subhead .testimonials__author {
    padding: 8rem;
  }
}
.testimonials__subhead .testimonials__author-1 {
  width: 310px;
  height: 500px;
  gap: 64px;
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 40px;
  padding-left: 32px;
  border-radius: 16px;
  background: #0E2E2E;
  align-items: center;
}
.testimonials__subhead .testimonials__author-first {
  width: 310px;
  height: 459px;
  gap: 64px;
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 40px;
  padding-left: 32px;
  border-radius: 16px;
  background: #0E2E2E;
  align-items: center;
  margin-bottom: -13rem;
}
.testimonials__subhead .testimonials__author-sub {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.testimonials__subhead .testimonials__author-sub h3 {
  margin-left: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -2.5%;
  color: var(--color-secondary-light);
}
.testimonials__subhead .testimonials__author-sub p {
  margin-left: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: -2.5%;
}
.testimonials__subhead .testimonials__rating p {
  width: 320px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  margin-top: 4rem;
}
.testimonials__subhead .testimonials__author-2 {
  width: 310px;
  height: 459px;
  gap: 64px;
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 40px;
  padding-left: 32px;
  border-radius: 16px;
  background: #0E2E2E;
  align-items: center;
  margin-top: 17.5rem;
}
.testimonials__subhead .testimonials__author-5 {
  width: 310px;
  height: 459px;
  gap: 64px;
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 40px;
  padding-left: 32px;
  border-radius: 16px;
  background: #0E2E2E;
  align-items: center;
  margin-bottom: -13rem;
}
.testimonials__subhead .testimonials__author-img {
  margin-top: 2.1rem;
}
.testimonials__subhead .testimonials__author-6 {
  width: 310px;
  height: 459px;
  gap: 64px;
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 40px;
  padding-left: 32px;
  border-radius: 16px;
  background: #0E2E2E;
  align-items: center;
  margin-top: 17.5rem;
}
.testimonials__subhead .testimonials__author-button2 {
  position: relative;
  align-items: center;
  display: flex;
  transform: translateX(-50%, -50%);
  top: -40rem;
  bottom: 0;
  right: 0;
  left: 39rem;
}
.testimonials__subhead .testimonials__author-button2 button {
  width: 198px;
  gap: 12px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-width: 2px;
  background-color: transparent;
  box-shadow: none;
  font-family: " Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
}
.testimonials__subhead .testimonials__author-button2 img {
  position: absolute;
  top: 1.3rem;
  left: 14.5rem;
}

.testimonials__author-submain {
  display: grid;
  grid-template-rows: 1.7fr 1.2fr;
  grid-auto-flow: column;
}
.testimonials__author-submain-1 {
  width: 310px;
  height: 880px;
  gap: 64px;
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 40px;
  padding-left: 32px;
  border-radius: 16px;
  background: #0E2E2E;
  align-items: center;
  margin-top: 3.8rem;
}
.testimonials__author-submain-2 {
  margin-top: -60px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  visibility: hidden;
  opacity: 0;
  background-color: rgba(14, 46, 46, 0.5019607843);
  z-index: 9999;
}
.popup__content {
  width: 75%;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 90vh;
  box-shadow: 0px 0px 20px 0px rgba(6, 18, 18, 0.1019607843);
  display: flex;
}
.popup:target {
  opacity: 1;
  visibility: visible;
  z-index: 9999;
}
.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup__primary {
  width: 410px;
  height: 648px;
  gap: 16px;
  background: #0E2E2E;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  padding: 40px;
  background: #0E2E2E;
  text-align: center;
}
.popup__primary h1 {
  width: 250px;
  height: 96px;
  font-family: " Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2.5%;
  text-align: center;
  margin-top: 15rem;
  margin-left: 1.1rem;
  text-transform: capitalize;
}
.popup__primary p {
  width: 320px;
  height: 64px;
  font-family: " Poppins", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 1rem;
  color: var(--color-secondary-light);
}
.popup .popup__secondary {
  width: 420px;
  min-height: 607.3200073242px;
  padding: 40px;
  background: #071717;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 96px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.popup .popup__secondary form label {
  width: 100px;
  height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 12px;
  letter-spacing: -2.5%;
  margin-left: 3rem;
}
.popup .popup__secondary form input {
  width: 310px;
  height: 40px;
  gap: 80px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-left: 15px;
  border-top-left-radius: 1000px;
  border-top-right-radius: var(--round-border);
  border-bottom-right-radius: var(--round-border);
  border-bottom-left-radius: 1000px;
  background: #DAFAFA;
  margin: 2rem;
}
.popup .popup__secondary-sub {
  display: flex;
  margin-left: 15rem;
  width: 130px;
  height: 20px;
  gap: 8px;
  margin-top: 5rem;
}
.popup .popup__secondary-sub p {
  color: var(--color-secondary-light);
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}
.popup .popup__secondary-content {
  margin-top: 10rem;
}
.popup .popup__secondary-toggle {
  position: absolute;
  top: -25.9rem;
  right: 5rem;
}
.popup .popup__secondary-btn button {
  width: 310px;
  height: 64px;
  gap: 10px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  text-transform: capitalize;
  margin-left: 3.9rem;
  margin-top: 1.5rem;
}

.footer__sub {
  display: flex;
  align-items: center;
  padding-bottom: 200rem;
}
.footer__sub-primary {
  width: 254px;
  height: 248px;
  gap: 64px;
}
.footer__sub-primary img {
  margin-left: 10rem;
  line-height: 15px;
}
.footer__sub-secondary--header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 33rem;
  gap: 100px;
}
@media only screen and (max-width: 79.81em) {
  .footer__sub-secondary--header {
    margin-left: 28rem;
    gap: 90px;
  }
}
@media only screen and (max-width: 72.5em) {
  .footer__sub-secondary--header {
    margin-left: 23rem;
    gap: 70px;
  }
}
.footer__sub-secondary--header-1 li {
  list-style: none;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  height: 40px;
  font-weight: 600;
  font-size: 22px;
  line-height: 15px;
  letter-spacing: -2.5%;
}
.footer__sub-secondary--header-1 li:not(:first-child) {
  list-style: none;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0%;
  color: rgba(236, 252, 253, 0.8274509804);
}

.header {
  min-width: 100%;
  height: auto;
  background: linear-gradient(180deg, var(--color-primary-dark) 0%, var(--color-primary-light) 100%);
  background-color: var(--color-primary-dark);
  overflow-x: hidden;
}
.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
  position: relative;
}
@media only screen and (max-width: 79.81em) {
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}
.header__nav-list li:first-child a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 0%;
  color: #ECFCFD;
}
@media only screen and (max-width: 79.81em) {
  .header__nav-list li:first-child a .header__nav-list {
    display: none;
    flex-direction: column;
    display: flex;
  }
}
.header ul {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 79.81em) {
  .header ul {
    flex-direction: column;
    display: flex;
  }
}
.header__list-item {
  margin: 0.7rem;
  padding: 0.5rem;
}
.header__list-item a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #ECFCFD;
  font-weight: 300;
  font-size: 1.9rem;
  line-height: 2rem;
  letter-spacing: 0%;
}

.header__nav-toggle {
  display: none;
}

.header__nav-menu-label {
  cursor: pointer;
  position: absolute;
  top: 5rem;
  right: 1rem;
  z-index: 1001;
  display: none;
}
@media only screen and (max-width: 79.81em) {
  .header__nav-menu-label {
    display: block;
  }
}

@media only screen and (max-width: 79.81em) {
  .header__nav-toggle:checked ~ .sidebar {
    transform: translateX(0);
  }
}

.header__nav-toggle:checked ~ .header__nav-menu-label img:first-child {
  display: none;
}

.header__nav-toggle:not(:checked) ~ .header__nav-menu-label img:last-child {
  display: none;
}

@media only screen and (max-width: 79.81em) {
  .sidebar {
    position: fixed;
    top: 1rem;
    right: 0;
    bottom: 2rem;
    background-color: var(--color-primary-dark);
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    padding: 2rem;
    z-index: 998;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 20%;
    border-radius: 2rem !important;
  }
}

.header__nav-toggle:checked ~ .sidebar-overlay {
  display: block;
}

.sidebar-overlay {
  pointer-events: none;
}

@media only screen and (max-width: 79.81em) {
  .header__nav-toggle:checked ~ .sidebar {
    transform: translateX(0);
  }
}

.main {
  margin-bottom: o;
}

.logo-section {
  background: linear-gradient(180deg, #0E2E2E 0%, #061212 100%);
  height: 27.6rem;
  padding: 4rem;
}
.logo-section .logo__text p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
.logo-section .logo__text span {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: inherit;
  letter-spacing: 0%;
}
.logo-section .logo__img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 40px;
  justify-items: center;
  margin-top: 5rem;
}
.logo-section .logo__img img {
  width: 40%;
  height: auto;
}

.feature-section {
  background-color: #061212;
  padding: 9.5rem;
}

.FQA-section {
  background: linear-gradient(180deg, #061212 0%, #0E2E2E 100%);
  padding: 10rem 0 0 12rem;
}

.testimonials-section {
  background: linear-gradient(360deg, #061212 0%, #0E2E2E 100%);
}

.footer {
  background: transparent;
  margin-top: -180rem;
}

/*# sourceMappingURL=style.css.map */
