@use "../abstract" as abstract;
.footer__sub{
    display: flex;
    align-items: center;
    padding-bottom: 200rem;
   
    
    &-primary{
        width: 254px;
        height: 248px;
        gap: 64px;
        
        img{
        margin-left: 10rem;
        line-height: 15px;

        }
        
    }

    &-secondary{
      
        
       
   &--header{
  
  
     display: flex;
  align-items: flex-start; 
  justify-content: flex-start; 
  margin-left: 33rem;
  gap: 100px; 

    @media only screen and (max-width: abstract.$bp-semi-large-2) {
    margin-left: 28rem;
      gap: 90px; 

  }
   @media only screen and (max-width: abstract.$bp-semi-large-3) {
                          margin-left: 23rem;
                               gap: 70px; 
                }
               
    

    
  &-1{
    li{
     list-style: none;
      text-transform: capitalize;
      font-family: 'Poppins', sans-serif;
      height: 40px;
      font-weight: 600;
      font-size: 22px;
      line-height: 15px;
     letter-spacing: -2.5%;
        
      
     
    



   
       &:not(:first-child){
        list-style: none;
        text-transform: capitalize;
        font-family: 'Poppins', sans-serif;
       font-weight: 300;
       font-size: 16px;
       line-height: 32px;
      letter-spacing: 0%;
      color: #ecfcfdd3;
     




       }

    }
  }

 
  
   }
    }
}