@use "../abstract" as abstract;

.header {
   min-width: 100%;
   height:auto; 
   background: linear-gradient(180deg, var(--color-primary-dark) 0%, var(--color-primary-light) 100%);
   background-color: var(--color-primary-dark);
   overflow-x: hidden;

  
   
   


 
   &__nav {
     display: flex;
     justify-content: space-around;
     align-items: center; 
     padding-top: 2rem;
    position: relative;

    @media only screen and (max-width:1222px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem; 
    }

    
      &__logo {
       
    img {
      width: 100px; 
      height: auto;
      @media only screen and (max-width:1222px) {
        width: 80px; 
        padding-left: -5rem;
       
       
        
        
      }
    }
  }
 
  .header__logo{
    padding-left: 2rem;
  }

   
   }
 
   &__nav-list {
     display: flex;
     list-style: none; 
     padding: 0; 
     margin: 0; 
     text-transform:capitalize;

     li:first-child a{
      font-family:'Poppins', sans-serif;
     font-weight: 600;
   font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0%;
    color: #ECFCFD;

   .header__nav-list {
  @media only screen and (max-width:1222px) {
    display: none;
    flex-direction: column;
    display:flex;
    
  }
}

      


     }
   }
   ul{
    display: flex;
    align-items: center;
    
      @media  only screen and (max-width:1222px){
      
       flex-direction: column;
    display:flex;
   
    
        
    }

   }
 
   &__list-item {
     margin: .70rem;
     padding: .5rem;
   @media only screen and (max-width:1222px) {
       &:not(:last-child) {
      line-height: 6rem;

       }
  }
 
     a {
       text-decoration: none;
       font-size: 20px;
       font-family: 'Poppins', sans-serif;
       color: #ECFCFD;
       font-weight: 300;
     font-size: 1.90rem;
     line-height:2rem;
    letter-spacing: 0%;
    
    

      
     }
 
   }
  



 }
.header__nav-toggle {
  display: none;
}


.header__nav-menu-label {
  cursor: pointer;
  position: absolute;
  top: -10rem;
  right: 5rem;
  z-index: 1001;
  display: none;
 
  
  

  @media only screen and (max-width:1222px) {
    display: block;
     top: 2rem; 
   
       margin-left:-20px;
  }

 

}




.header__nav-toggle:checked ~ .sidebar {
  @media only screen and (max-width:1222px) {
    transform: translateX(0);
  }
}

.header__nav-toggle:checked ~ .header__nav-menu-label img:first-child {
  display: none;
}

.header__nav-toggle:not(:checked) ~ .header__nav-menu-label img:last-child {
  display: none;
}

.sidebar {
  @media only screen and (max-width:1222px) {
    position: fixed;
    top: 1rem;
    right: 0;
    bottom: 3rem;
    background-color: var(--color-primary-dark);
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    padding: 2rem;
   z-index: 998;
   backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
     width: 70%;
 border-radius: 2rem !important;

 
  }

  }
  .sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.1); 
  display: none;
  z-index: 997; 
}

.header__nav-toggle:checked ~ .sidebar-overlay {
  display: block;
}
.sidebar-overlay {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.header__nav-toggle:checked ~ .sidebar-overlay {
  opacity: 1;
  pointer-events: all;
  display: block;
}




