:root{

    --color-primary-dark:#061212;
    --color-primary-light:#0E2E2E;

    --color-secondary:#44E5E7;
    --color-secondary-light: #C7F7F8;

    --color-white:#fff;
    --color-white-primary: #ECFCFD;
    
    --color-black:black;
    --pad-left:4rem;

    --round-border:1000px;

}

$bp-large: 85.81em; // 1373px/16
$bp-semi-large: 84.5em; // 1352px/16
$bp-semi-large-1: 84.3em; // 1349px/16
$bp-semi-large-2: 79.81em; // 1267px/16
$bp-semi-large-3: 72.5em; // 1160px/16
$bp-semi-large-4: 68.43em; // 1095px/16






