@use "../abstract" as abstract;
.btn{
 
 border-radius: var( --round-border);
 margin: .4rem;
 cursor: pointer !important;


 
&--login{
    font-family: 'Poppins';
    font-size: 17px;
    color: var( --color-white-primary);
    width: 120px;
    height: 60;
    padding-top: 14px;
    padding-right: 32px;
    padding-bottom: 14px;
    padding-left: 32px;
    background-color: transparent;
    border: 1px solid var(--color-white);
 box-shadow: 0px 0px 10px 0px #44E5E74D;
 cursor: pointer;

 
}

&--primary{
font-family: 'Poppins';
width: 160px;
font-size: 20px;
 height: 70;
gap: 10px;
padding-top: 20px;
padding-right: 35px;
padding-bottom: 20px;
padding-left: 35px;
border-radius:var(--round-border);
background-color: var( --color-secondary);
box-shadow: 0px 0px 15px 0px #44E5E74D;
border: none;
cursor: pointer;
 





}


}

.login {
    &,
   &:link,
   &:visited {
   
   font-family: 'Poppins';
    font-size: 17px;
    color: var(--color-white-primary);
    border: 2px solid var(--color-white);
    box-shadow: 0px 0px 10px 0px #44E5E74D;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    border-radius: var(--round-border);
    padding: 1.5rem 2.7rem;
    background-color: transparent;
    display: inline-block;
    text-align: center;
    z-index: 1;
    position: relative;
@media only screen and (max-width:1222px) {
  margin-top: 8rem;
  
 
  }

 

}

}



    