@use "../abstract" as abstract;

*{
    margin: 0 ;
    padding: 0 ;
     outline: none;
       overflow-x: hidden !important;
       box-sizing: border-box !important;

}

*, *::before, *::after{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
      overflow-x: hidden;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    width: 100%;
    overflow-x: hidden;
      margin: 0;
     padding: 0;

     
 @media only screen and (max-width: 1286px) {
   font-size: 59.80%;
        
 }
 
   
}

body{
    max-width: 100%;
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-white);
    min-height: 100vh;
    color: #ECFCFD;
    margin: 0 ;
    padding: 0 ;
     overflow-x: hidden
    }