.main{
  margin-bottom: o;
}
.logo-section {
    background: linear-gradient(180deg, #0E2E2E 0%, #061212 100%);
    padding: 8rem;
    
  
    .logo__text {
       @media only screen and (max-width: 420px) {
                  font-size: 2rem;
                  width: 37rem;
                  height: auto;
                  }
                  @media only screen and (max-width: 430px) {
                  font-size: 2rem;
                  width: 37rem;
                  margin-left:-4rem;
                  height: auto;
                  }
                   @media only screen and (max-width: 392px) {
                  font-size: 1rem;
                  width: 35rem;
                  margin-left: -6rem;
                  }
                  
      p {
        font-family: "Poppins";
        font-weight: 300;
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: 0%;
        text-align: center;
        text-transform: capitalize;
        
        
      }
  
      span {
        font-family: "Poppins";
        font-weight: 700;
        font-size: 2.8rem;
        line-height: inherit;
        letter-spacing: 0%;
         @media only screen and (max-width: 420px) {
                  font-size: 2.4rem;
          }
            @media only screen and (max-width: 392px) {
                  font-size: 2rem;
                  
                  }
      }
    }
  
    .logo__img {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, auto);
      gap: 50px;
      justify-items: center;
      margin-top: 7rem;
    
       
  
      img {
       
         max-width: 100%;
    width: auto;
    height: auto;
    object-fit: contain;

         @media only screen and (max-width:1222px) {
         display: none;
         

  }
      

      }

       
     
    }
    .logo__img-mobile {
    display: none;

    @media only screen and (max-width: 1222px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, auto);
      gap: 50px;
      justify-items: center;
      overflow-x: hidden;
      
      
    }

     @media only screen and (max-width: 496px) {
                    gap: 30px;
                    
               }

    img {
      width: 30%;
      height: auto;
    }
  }
}





  

  .feature-section{
    background-color: #061212;
    padding: 9.5rem;
    
      @media only screen and (max-width: 496px) {
                   padding: 5rem;
               }
    

 
  }

  .FQA-section{
    background: linear-gradient(180deg, #061212 0%, #0E2E2E 100%);
    padding:10rem 0 0 12rem;
     @media only screen and (max-width: 496px) {
                             padding:10rem 0 0 4rem;
                     }

    

  }

.testimonials-section{
  background: linear-gradient(360deg, #061212 0%, #0E2E2E 100%);
  

}


.footer {
  background:transparent;
  transform: translateY(-180rem);
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
   height: auto;

  @media only screen and (max-width: 1222px) {
    transform: translateY(0);
      background: linear-gradient(180deg, #061212 0%, #0E2E2E 100%);
      
  }
}




  
  
 