.main{
  margin-bottom: o;
}
.logo-section {
    background: linear-gradient(180deg, #0E2E2E 0%, #061212 100%);
    height: 27.6rem;
    padding: 4rem;
  
    .logo__text {
      p {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: 0%;
        text-align: center;
        text-transform: capitalize;
        
      }
  
      span {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 2.8rem;
        line-height: inherit;
        letter-spacing: 0%;
      }
    }
  
    .logo__img {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: 40px;
      justify-items: center;
      margin-top: 5rem;
  
      img {
        width: 40%;
        height: auto;
      

      }
    }
  }

  .feature-section{
    background-color: #061212;
    padding: 9.5rem;
    

 
  }

  .FQA-section{
    background: linear-gradient(180deg, #061212 0%, #0E2E2E 100%);
    padding:10rem 0 0 12rem;
    

  }

.testimonials-section{
  background: linear-gradient(360deg, #061212 0%, #0E2E2E 100%);
  

}

.footer{
  background:transparent;
  margin-top: -180rem;
 
}

  
  
 